<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hyunjujung.tbox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera"/>

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login_join_activity.ToysLogin"
            android:theme="@style/toysTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login_join_activity.Join"
            android:theme="@style/joinTheme" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.hyunjujung.tbox.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".streaming_main.Streaming_main"
            android:theme="@style/joinTheme" />
        <activity
            android:name=".streaming_main.broadcast.LiveStreamSetting"
            android:theme="@style/liveTheme" />
        <activity
            android:name=".streaming_main.broadcast.LiveStreamStart"
            android:theme="@style/joinTheme" />
        <activity
            android:name=".streaming_main.broadcast.LivestreamPlay"
            android:theme="@style/joinTheme" />
        <activity
            android:name=".login_join_activity.ProfileFilter"
            android:theme="@style/joinTheme" />
        <activity
            android:name=".streaming_main.broadcast.VodStreamPlay"
            android:theme="@style/joinTheme" />
        <activity
            android:name=".streaming_main.OtherUserMain"
            android:theme="@style/joinTheme" />

        <activity
            android:name=".streaming_main.camera.faceDetect.AfterTakePicture"
            android:theme="@style/joinTheme"/>

        <!-- 얼굴 인식 ! -->
        <activity
            android:name=".streaming_main.camera.faceDetect.FaceDetectActivity"
            android:theme="@style/joinTheme" />

        <!-- 채팅 broadcastReceiver 와 service ! -->
        <service android:name=".chatting.ChatService" />

        <receiver android:name=".chatting.ChatBroadcast">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <!-- FCM ! -->
        <service android:name=".FCM.FcmIntanceId">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FCM.FcmMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".streaming_main.ShowChart"
            android:theme="@style/joinTheme" />
        <activity
            android:name=".streaming_main.map.TmapSearchPath"
            android:theme="@style/joinTheme" />
        <activity
            android:name=".AR.drawLine.AR_DrawingLine"
            android:theme="@style/ARTheme" />

        <!-- ARCore 필요함 (Google Play) ! -->
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />


    </application>

</manifest>